/* Global */
* {
    box-sizing: border-box;
    margin: 0;
    font-size: 16px;
}

/* Utilities */
.hidden {
    display: none;
}

.top-1 {
    top: 1rem;
}

.end-1 {
    right: 1rem;
}

/* Reusable elements */
.accordion-img {
    width: 100%;
    max-width: 200px;
    aspect-ratio: 0.75;
    text-align: center;
}

.modal-inline-card {
    min-width: 150px;
}

.card-btn-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

/* Navbar */
#logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 32px;
}

.nav-link {
    font-weight: 300;
    color: rgb(226 232 240) !important;
    transition-duration: 0.25s;
}

.nav-link:hover,
.nav-link.active {
    color: rgb(255 255 255) !important;
}

/* Components */
/* #page {
    padding: 60px 10px 10px 10px;
    height: 80vh;
} */
#page {
    text-align: center;
}

#page-content {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: visible;
}

#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: grab;
}

#container-zoom-controller {
    position: absolute;
    top: 60px;
    right: 1%;
}

.link {
    cursor: pointer;
}

.node {
    cursor: pointer;
}

/* Bio */
.bio-iframe,
.relationship-iframe,
.letter-iframe,
.letter-comment {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    min-height: 70vh;
    color-scheme: light;
}

.bio-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

/* Links */
.tab-pane {
    height: 100% !important;
}

.nav-tabs .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
    color: #000 !important;
}

/* Relationship */

/* Letter */

/* Comment */

/* Modal */
.modal-fullscreen {
    width: 95% !important;
    height: fit-content !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

/* .modal-body .card {
    max-width: 33.3333333% !important;
} */